* {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    list-style: none;
  }
body {
    margin: 0;
    background-color: #212121;;
}

a {
    color: #801023;
}

.header{
    background-color: #050505;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    z-index: 100;
    top:0;
}

.header .container-logo{
    position: relative;
    margin-top: 5px;
    background-color: #373c37;
    width: 100%;
    margin-top: 5%;
    text-align: center;

}

.header ul{
    margin: 0%;
    padding: 0;
    list-style: none;
    text-decoration: none;
    overflow: hidden;
    background-color: #a7a8a7;
}

.header ul a{
    display: block;
    padding: 20px;
    text-decoration: none;
}

.header ul a:hover{
    background-color: #292929;
    color: #a7a8a7;
}

.header .logo{
    float: left;
    font-size: 10px;
    text-align: center;
    padding: 10px 20px;
}

.header .menu{
    clear: both;
    max-height: 0;
    transition: max-height .5s ease-out;
}

.header .menu-icon{
    padding: 28px 20px;
    position: relative;
    float: right;
    cursor: pointer;
}

.header .menu-icon .nav-icon{
    background-color: #808080;
    display: block;
    width: 18px;
    height: 2px;
    position: relative;
    transition: background-color .5s ease-out;
}

.header .menu-icon .nav-icon::before,
.header .menu-icon .nav-icon::after{
    background-color: gray;
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    transition: all .5s ease-out;
    position: absolute;
}

.header .menu-icon .nav-icon::before{
    top: 5px;
}
.header .menu-icon .nav-icon::after{
    top: -5px;
}

.header .menu-btn{
    display: none;
}

.header .menu-btn:checked ~ .menu{
    max-height: 250px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon{
    background-color: transparent;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::before{
    transform: rotate(-45deg);
    top: 0;
}
.header .menu-btn:checked ~ .menu-icon .nav-icon::after{
    transform: rotate(45deg);
    top: 0;
}

@media (min-width: 48em) {
    .header li{
        float: left;
    }
    .header li a{
        padding: 20px 30px;
    }
    .header .menu{
        clear: none;
        float: right;

    }

    .header .menu-icon{
        display: none; 
    }
}

@media (min-width: 48em) {
    .header .menu {
        max-height: none !important;
        display: block;
    }
}
.a .logo {
    text-decoration: none;
    color: #801023;
    font-size: 2rem;
    font-weight: 700;
    display: float;
    position:absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
    height: 100%;
}
.wrap-title-portrait {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10%;
}

.portrait {
    width: 100%;
    height: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 1%;
    padding: 1%;
}
.title-container {
    background-color: linear-gradient(to bottom, #801023, #373c37); /*CONTROLLARE*/
    color:#a7a8a7;
    height: auto;
    width: auto;
    margin: 1%;
    padding: 1%;
    display: flex;
    Position:relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-radius: 5px;
}
.title-container h1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
    color: #a7a8a7;
}
@media screen and (max-width: 510px) {
    .title-container {
        background-color: linear-gradient(to bottom, #801023, #373c37); /*CONTROLLARE*/
    color:#a7a8a7;
    height: auto;
    width: auto;
    margin: 1%;
    padding: 1%;
    display: flex;
    Position:relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    border-radius: 5px;
    }
    
}

.bio-text {
    height: auto;
    width: 100%;
    margin: 1%;
    padding: 1%;
    display: block;
    Position:relative;
    justify-content: right;
    align-items: right;
    text-align: left;
    border-radius: 5px;
}
.hero-img {
    width: 60%;
    height: auto;
    border-radius: 5px;
    display:flex;
    flex-direction: row;
    justify-content: right;
    align-items: right;
    text-align: right;
    margin: 1%;
    padding: 1%;
    position: relative;
}
.whatsapp-button {
    background-color: #25D366;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    width:fit-content;
    display: flex;
    margin: 1%;
    padding: 1%;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
}
    .whatsapp-button:hover {
        background-color: #128C7E;
        color: white;
    }
    .hero-img img {
        width: 100%;
        height: auto;
        border-radius: 5px;
    }
    
    .hero-text p {
        font-size: 20px;
        margin: 0;
        padding: 0;
    }

.wrap-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}
@media screen and (max-width: 768px) {
    .wrap-button-container {
        flex-direction: column;
        align-items: center;
    }
    .hero-img {
        width: 100%;
    }
    .hero-text p {
        font-size: 16px;
    }
    
}

.go-to-button {
    background-color: #a7a8a7;
    border: solid 1px #6d0000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: #801023;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 400;
    width:fit-content;
    display: block;
    margin: 1%;
    padding: 1%;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
}
.go-to-button:hover {
    background-color: #373c37;
    color: #a7a8a7 !important;
}
.logo-button:hover {
    color:#a7a8a7!important;
}
.footer {
    background-color: #f2f2f2;
    padding: 1%;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    position:relative;
    width: 100%;
    height: auto;
    margin-top: auto;
    color: #333;
    font-size: 14px;
    font-weight: 400;
    text-align: center;
  }
  .footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding: 0;
    list-style: none;
  }
  .footer-btn:hover {
    background-color: #373c37;
    color:#a7a8a7;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 5px;
  }
  .footer-links li {
    margin: 0 10px;
  }
  .footer p {
    font-size: 1rem;
  }
  .footer-btn {
  
    color: #cd0000;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-decoration: none;
    margin: 1%;
    padding: 1%;
    font-size: 1rem;
    font-weight: 400;
    line-height: var(--bs-body-line-height);
    width:fit-content;
  }
  .social-icon {
    width: 45px;
    height: 45px;
    margin: 0;
    padding:1%;
  }
  .social-icon:hover {
    background-color: #cd0000;
    transition: all 0.3s ease;
    margin:0;
    border-radius: 5px;
  }