// _variables.scss
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Lobster', cursive;
$color-text: #333333;
$color-background: #f9f9f9;
$color-primary: #3498db;
$color-dark: #2c3e50;
$color-light-gray: #ecf0f1;
$color-white: #ffffff;
$border-color: #dddddd;
$color-success: #2ecc71; // Para barras de skills
$color-warning: #f1c40f; // Para barras de skills
