// _variables.scss
$font-primary: 'Montserrat', sans-serif;
$font-secondary: 'Lobster', cursive;
$color-text: #333333;
$color-background: #212121;
$color-primary: #cd0000;
$color-dark: #a7a8a7;
$color-light-gray: #ecf0f1;
$color-white: #ffffff;
$border-color: #dddddd;
$color-success: #2ecc71; // Para barras de skills
$color-warning: #f1c40f; // Para barras de skills
