
$font-family: "Montserrat", sans-serif;
$color-text: #a7a8a7;
$color-primary: #801023;
$color-background: #212121;
$color-dark: #050505;
$color-lightgray: #f2f2f2;
$color-green: #25d366;
$color-green-hover: #128c7e;
$color-footer-hover: #373c37;
$color-border: #60000d;
$color-border-dark: #6d0000;
$gray: #868585;

* {
  font-family: $font-family;
  text-decoration: none;
  list-style: none;
  color: $color-text;
}
body {
  margin: 0;
  background-color: $color-background;
}

a {
  color: $color-primary;
}