@use "partials/header.scss";
@use "partials/footer.scss";
@use "partials/body.scss";

$font-family: "Montserrat", sans-serif;
$color-text: #a7a8a7;
$color-primary: #801023;
$color-background: #212121;
$color-dark: #050505;
$color-lightgray: #f2f2f2;
$color-green: #25d366;
$color-green-hover: #128c7e;
$color-footer-hover: #373c37;
$color-border: #60000d;
$color-border-dark: #6d0000;
$gray: #868585;

@use "pages/index-style";
@use "pages/CV-Style";
@use "pages/Depyl_Project";
@use "pages/Green-Earth_project";
@use "pages/Contact-Me-Style";
