/*.hero-container {
    background-color: #a4a7a434;
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 5px;
    overflow: hidden;
}
@media screen and (min-width:400px) {
    .hero-container {
        display: block;
    }
}*/
.hero-img {
    display: flex;
    flex-direction: row;
    width: 70%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  .whatsapp-button {
    background-color: #25d366;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 400;
    width: fit-content;
    display: flex;
    margin: 1%;
    padding: 1%;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
  }
  .whatsapp-button:hover {
    background-color: #128c7e;
    color: white;
  }
  .privacy-policy {
    font-size: 12px;
    font-weight: bold;
    color: #d2cbcc;
    margin-top: 10px;
    text-align: center;
    display: flex;
  }
  .wrap-form-container {
    display: flex;
    flex-direction: row;
  }
  .container-form {
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding: 1%;
    background-color: #68666661;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: auto;
    margin: 5%;
  }
  @media screen and (max-width: 400px) {
    .wrap-form-container {
      width: 100%;
      margin-left: 0;
      padding: 2%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: #68666661;
      box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
      margin: 0 auto;
      margin-top: 5%;
      margin-bottom: 5%;
    }
  }
  .form-text {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    padding: 3%;
    border-radius: 5px;
    width: 100%;
    margin-left: 10%;
  }
  
  .field {
    margin: 1%;
    padding: 1%;
  }
  
  .field label {
    display: block;
    font-size: 12px;
    font-weight: bold;
    color: #868585;
    margin-top: 1%;
    padding: 1%;
    text-align: left;
  }
  
  .field input {
    display: block;
    min-width: 250px;
    line-height: 1.5;
    font-size: 14px;
    border: solid 2px #60000d;
    border-radius: 5px;
  }
  
  .submit-btn {
    display: flex;
    padding: 6px 30px;
    font-size: 14px;
    background-color: #60000d;
    color: #fff;
    border-radius: 5px;
    border: solid 2px #6d0000;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  input a:hover {
    background-color: #006022;
    color: #fff;
  }