.CV .CV-hero-container {
  padding: 1%;
  margin: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  height: auto;
  border-radius: 5px;
}
.CV .wrap-education-hero {
  width: 100%;
  height: auto;
  margin-top: 200%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: flex-start;
  text-align: left;
  transition: transform 0.5s;
  color: #a7a8a7;
  font-size: 30px;
}
.CV .CV-Page-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: auto;
  height: auto;
  margin-top: 1%;
  text-align: left;
}
.CV .CV-hero-master {
  background-color: rgba(132, 134, 135, 0.467);
  display: flex;
  height: auto;
  flex-direction: column;
  justify-content: left;
  text-align: left;
  align-items: flex-start;
  padding: 1%;
  margin: 1%;
  border-radius: 5px;
}
@media screen and (min-width: 650px) {
  .CV .CV-hero-master {
    display: block;
    height: -moz-fit-content;
    height: fit-content;
    margin: 1%;
    padding: 1%;
    position: relative;
    justify-content: left;
    text-align: left;
    transition: transform 0.5s;
  }
}
.CV .hero-logo {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  position: relative;
  width: 15%;
  height: auto;
  margin: 1%;
  padding: 1%;
}
.CV .macbook-wrapper-container {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 5%;
  padding: 1%;
  align-items: center;
  text-align: center;
}
.CV .macbook-wrapper {
  position: relative;
  width: 80%;
  height: auto;
}
.CV .macbook-img {
  width: 100%;
  height: auto;
  display: block;
}
.CV .gif-overlay {
  position: absolute;
  top: 3%;
  left: 10%;
  width: 80%;
  height: auto;
  border-radius: 5px;
  pointer-events: none;
}
.CV .macbook-wrapper:hover .gif-overlay {
  opacity: 1;
  z-index: 4;
  box-shadow: 0 0 10px #000;
}
.CV .start2Impact-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: left;
  position: relative;
  margin: 1%;
  padding: 5%;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (min-width: 650px) {
  .CV .start2Impact-container {
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    height: -moz-fit-content;
    height: fit-content;
    margin: 1%;
    padding: 1%;
  }
}
.CV .institute-title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: relative;
  width: 100%;
  height: auto;
  font-size: larger;
}
@media screen and (min-width: 650px) {
  .CV .institute-title {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    margin: 1%;
    padding: 1%;
    position: relative;
    justify-content: center;
    text-align: left;
    transition: transform 0.5s;
  }
}
.CV .Master-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
}
.CV .University-logo {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: auto;
  margin: 1%;
  padding: 1%;
}
@media screen and (max-width: 650px) {
  .CV .University-logo {
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    margin: 1%;
    padding: 1%;
    position: relative;
    justify-content: center;
    text-align: center;
    transition: transform 0.5s;
  }
}
.CV .University-logo h2 {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  width: -moz-fit-content;
  width: fit-content;
}
.CV .Skills-container {
  background-color: #373c37;
  padding: 1%;
  margin: 1%;
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: flex-start;
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
}
.CV .skills-bars-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  position: relative;
  width: 95%;
  height: auto;
  margin: 1%;
  padding: 1%;
  border-radius: 5px;
}
@media screen and (max-width: 400px) {
  .CV .skills-bars-container {
    flex-direction: column;
    align-items: flex-start;
  }
  .CV .skills-bars-container {
    order: 2;
  }
}
.CV .skills-bar {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-right: 100px;
  padding: 2%;
  margin: 2%;
}
.CV .Skills_1-2, .CV .Skills_2-2 {
  background-color: #373c37;
  padding: 1%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: left;
  position: relative;
  margin: 1%;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 5px;
  color: #FFF;
  width: 95%;
}
@media screen and (min-width: 650px) {
  .CV .Skills_1-2, .CV .Skills_2-2 {
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 1%;
    padding: 1%;
    position: relative;
    justify-content: center;
    text-align: left;
    transition: transform 0.5s;
  }
}
.CV .Skills_2-2 {
  order: 1;
}
.CV .skill-icon {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}
.CV .bar {
  background-color: rgba(2, 82, 91, 0.7568627451);
  width: 100%;
  padding: 3px;
  margin: 1%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: left;
  align-items: center;
  height: 30px;
  border-radius: 15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #FFF;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.CV .bar::before {
  content: attr(data-skill);
  background-color: #f3565b;
  display: inline-block;
  padding: 5px 0 5px 10px;
  border-radius: inherit;
  animation: load 4s 2s;
  -webkit-animation: load 4s 2s;
  -moz-animation: load 4s 2s;
  -o-animation: load 4s 2s;
}
.CV .bar.front::before {
  background-color: #ffcc33;
}
.CV .bar.back::before {
  background-color: #a6cfe3;
}
.CV .bar.learning::before {
  width: calc(20% - 10px);
}
.CV .bar.basic::before {
  width: calc(40% - 10px);
}
.CV .bar.intermediate::before {
  width: calc(60% - 10px);
}
.CV .bar.advanced::before {
  width: calc(80% - 10px);
}
.CV .bar.expert::before {
  width: calc(100% - 10px);
}
.CV .my-projects {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin: 1%;
  padding: 1%;
  border-radius: 5px;
  text-align: left;
  background-color: #373c37;
}
@media screen and (max-width: 650px) {
  .CV .my-projects {
    flex-direction: column;
    width: 96%;
    height: -moz-fit-content;
    height: fit-content;
    margin: 1%;
    padding: 1%;
    position: relative;
    justify-content: left;
    text-align: center;
    transition: transform 0.5s;
  }
}
.CV .projecct-img {
  width: 25%;
  height: auto;
  margin-right: 10px;
  padding: 1%;
  transition: transform 0.5s;
}
.CV .my-projects-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.CV .my-projects-hero-img {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1%;
  padding: 1%;
  transition: transform 0.5s;
}
@media screen and (max-width: 400px) {
  .CV .my-projects-hero-img {
    width: -moz-fit-content;
    width: fit-content;
    height: auto;
    margin-right: 1%;
    padding: 1%;
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    transition: transform 0.5s;
  }
}
.CV .projects-btn {
  background-color: #ffffff;
  width: -moz-fit-content;
  width: fit-content;
  color: #6d0000;
  padding: 5%;
  margin: 1%;
  border: solid 2px #6d0000;
  box-shadow: rgba(109, 0, 0, 0.4) 0 0 0;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
  display: flex;
  flex-direction: column;
  transition: background-color 0.3s ease;
}
.CV .btn-master {
  background-color: #ffffff;
  color: #6d0000;
  padding: 10px 20px;
  border: solid 2px #6d0000;
  box-shadow: rgba(109, 0, 0, 0.4) 0 0 0;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}
.CV .btn-master:hover {
  background-color: rgba(255, 255, 255, 0.5019607843);
  display: block;
}
.CV html {
  scroll-behavior: smooth;
}
.CV ::-webkit-scrollbar {
  height: 8px;
}
.CV ::-webkit-scrollbar-track {
  background: #b22424;
  border-radius: 25px;
}
.CV ::-webkit-scrollbar-thumb {
  background: #b22424;
  border-radius: 25px;
}
.CV ::-webkit-scrollbar-thumb:hover {
  background: #b22424;
}
.CV .card-container {
  display: flex;
  overflow-x: auto;
  width: 100%;
  gap: 1%;
  padding: 0;
  margin-left: 2%;
  margin-right: 0;
  box-sizing: border-box;
  scroll-snap-type: x mandatory;
}
@media screen and (max-width: 650px) {
  .CV .card-container {
    transform: scale(0.9);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    overflow-x: scroll;
    width: 100%;
  }
}
.CV .card {
  background-color: #4f5051;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2%;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  min-height: 400px; /* oppure quello che ti serve */
  width: -moz-fit-content;
  width: fit-content;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 0 0 auto;
  min-width: 250px;
  scroll-snap-align: start;
}
.CV .card .image {
  height: 150px;
  width: 150px;
  padding: 4px;
  background: #FFF;
  border-radius: 50%;
  align-items: center;
}
.CV .tag-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: flex-start;
  margin: 1%;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  padding: 1%;
}
@media screen and (min-width: 920px) {
  .CV .container .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 0 0 10%;
    width: 200px;
    margin-bottom: 20px;
  }
}
.CV .image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  border: 5px solid #6d0000;
}
.CV .card h2 {
  margin-top: 25px;
  color: #333;
  font-size: 22px;
  font-weight: 600;
  padding: 1%;
  margin: 1%;
}
.CV .card .tag-container {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: row;
  margin-top: 1%;
}
.CV .card h5 {
  color: #fff;
  font-weight: 800;
  background-color: #6d0000;
  padding: 1%;
  margin: 1%;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  text-align: center;
}
.CV .card p {
  margin-top: 4px;
  font-size: 18px;
  font-weight: 400;
  color: #333;
  text-align: center;
  padding: 1%;
  margin: 1%;
}/*# sourceMappingURL=CV-Style.css.map */