.CV-hero-container {
    padding: 1%;
    margin: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    height: auto;
    border-radius: 5px;
  }
  
  .wrap-education-hero {
    width: 100%;
    height: auto;
    margin-top: 200%;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    position:relative;
    justify-content: flex-start;
    text-align: left;
    transition: transform 0.5s;
    color:#a7a8a7;
    font-size:30px;
  }
  
  
  .CV-Page-title {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: auto;
    height: auto;
    margin-top: 1%;
    text-align: left;
  }
  .CV-hero-master {
    background-color: rgba(132, 134, 135, 0.467);
    display: flex;
    height: auto;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    align-items: flex-start;
    padding: 1%;
    margin: 1%;
    border-radius: 5px;
  }
  
  @media screen and (min-width: 650px) {
    .CV-hero-master {
      display: block;
      height: fit-content;
      margin: 1%;
      padding: 1%;
      position: relative;
      justify-content: left;
      text-align: left;
      transition: transform 0.5s;
    }
  }
  .hero-logo {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    position: relative;
    width: 15%;
    height: auto;
    margin:1%;
    padding: 1%;
  }
  .macbook-wrapper-container {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top:5%;
    padding: 1%;
    align-items: center;
    text-align: center;
   
  }
  
  .macbook-wrapper {
    position: relative;
    width: 80%;
    height:auto;
  }
  
  .macbook-img {
    width: 100%;
    height: auto;
    display: block;
  }
  .gif-overlay {
    position: absolute;
    top: 3%; 
    left: 10%;
    width: 80%;
    height: auto;
    border-radius: 5px;
    pointer-events: none;
  }
  .macbook-wrapper:hover .gif-overlay {
    opacity: 1;
    z-index: 4;
    box-shadow: 0 0 10px #000;
  }
  
  .start2Impact-container{
    display: inline-flex;
    flex-direction: row;
    justify-content: left;
    position: relative;
    margin: 1%;
    padding: 5%;
    width: 100%;
    height: fit-content;
  }
  @media screen and (min-width: 650px) {
    .start2Impact-container {
      flex-direction: column;
      align-items: flex-start;
      width: auto;
      height: fit-content;
      margin: 1%;
      padding:1%;
    }
  }
  .institute-title{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    height: auto;
    font-size: larger;
  }
  @media screen and (min-width: 650px) {
    .institute-title {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      height: auto;
      margin: 1%;
      padding: 1%;
      position: relative;
      justify-content: center;
      text-align: left;
      transition: transform 0.5s;
    }
  }
  
  .Master-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    width: fit-content;
    height: auto; 
  }
  
  .University-logo {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    position: relative;
    width: fit-content;
    height: auto;
    margin: 1%;
    padding: 1%;
  }
  @media screen and (max-width: 650px) {
    .University-logo {
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: fit-content;
      margin: 1%;
      padding: 1%;
      position: relative;
      justify-content: center;
      text-align: center;
      transition: transform 0.5s;
    }
    
  }
  
  .University-logo h2 {
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    width:fit-content;
  }
  
  
  .Skills-container {
      background-color: #373c37;
      padding: 1%;
      margin: 1%;
      display: flex;
      flex-direction: column;
      justify-content: left;
      align-items: flex-start;
      position: relative;
      height: fit-content;
      border-radius: 5px;
  }
  
  .skills-bars-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    position: relative;
    width: 95%;
    height: auto;
    margin: 1%;
    padding: 1%;
    border-radius: 5px;
  }
  
  
  @media screen and (max-width: 400px) {
    .skills-bars-container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .skills-bars-container {
      order: 2; 
    }
  }
  .skills-bar {
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 50px;
    margin-right: 100px;
    padding: 2%;
    margin: 2%;
  }
  .Skills_1-2, .Skills_2-2 {
      background-color: #373c37;
      padding: 1%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: left;
      position: relative;
      margin: 1%;
      height: fit-content;
      border-radius: 5px;
      color:#FFF;
      width:95%;
  }
  @media screen and (min-width: 650px) {
    .Skills_1-2, .Skills_2-2 {
      flex-direction: column;  
      width:100%;
      height: auto;
      margin: 1%;
      padding: 1%;
      position: relative;
      justify-content: center;
      text-align: left;
      transition: transform 0.5s;
    }
    
  }
  
  .Skills_2-2 {
      order: 1;
    }
    
  
  .skill-icon {
    width: 50px;
    height: 50px;
    margin-right: 10px;
  }
  .bar{
    background-color: #02525bc1;
    width: 100%;
    padding: 3px;
    margin: 1%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
    display: flex;
    justify-content: left;
    align-items: center;
    height: 30px;
    border-radius: 15px;
    margin-bottom: 5px;
    font-size: 14px;
    color: #FFF;
    font-weight: bold;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
  }
  .bar::before{
    content:  attr(data-skill);
    background-color: #f3565b;
    display: inline-block;
    padding: 5px 0 5px 10px;
    border-radius: inherit;
    animation: load 4s 2s;
    -webkit-animation: load 4s 2s;
    -moz-animation: load 4s 2s;
    -o-animation: load 4s 2s;
  }
  
  .bar.front::before{
    background-color: #ffcc33;
  }
  .bar.back::before{
    background-color: #a6cfe3;
  }
  
  .bar.learning::before{
    width: calc(20% - 10px);
  }
  .bar.basic::before{
    width: calc(40% - 10px);
  }
  .bar.intermediate::before{
    width: calc(60% - 10px);
  }
  .bar.advanced::before{
    width: calc(80% - 10px);
  }
  .bar.expert::before{
    width: calc(100% - 10px);
  
  }
  
  .my-projects {
    display: flex;
    flex-direction: row; 
    overflow-x: auto;             
    margin: 1%;
    padding: 1%;
    border-radius: 5px;
    text-align: left;
    background-color: #373c37;
  }
  @media screen and (max-width: 650px) {
    .my-projects {
      flex-direction: column;
      width: 96%;
      height: fit-content;
      margin: 1%;
      padding: 1%;
      position: relative;
      justify-content: left;
      text-align: center;
      transition: transform 0.5s;
    }
    
  }
  .projecct-img {
    width: 25%;
    height: auto;
    margin-right: 10px;
    padding: 1%;
    transition: transform 0.5s;
  }  
  .my-projects-hero {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .my-projects-hero-img {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1%;
    padding: 1%;
    transition: transform 0.5s;
  }
  @media  screen and (max-width:400px) {
    .my-projects-hero-img {
      width: fit-content;
      height: auto;
      margin-right: 1%;
      padding: 1%;
      display:flex;
      flex-direction: column;
      position:relative;
      justify-content: center;
      align-items: center;
      text-align: center;
      transition: transform 0.5s;
    }
  }
  
  .projects-btn{
    background-color: #ffffff;
    width: fit-content;
    color: #6d0000;
    padding: 5%;
    margin:1%;
    border: solid 2px #6d0000;
    box-shadow: rgba(109, 0, 0, 0.4) 0 0 0;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    display: flex;
    flex-direction: column;
    transition: background-color 0.3s ease; 
  }
  .btn-master{
    background-color: #ffffff;
    color: #6d0000;
    padding: 10px 20px;
    border: solid 2px #6d0000;
    box-shadow: rgba(109, 0, 0, 0.4) 0 0 0;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    margin: 5px;
    text-align: center;
    transition: background-color 0.3s ease; 
  }
  .btn-master:hover {
    background-color: #ffffff80;
    display:block;
  }
  html {
    scroll-behavior: smooth;
  }
  ::-webkit-scrollbar {
    height: 8px;
  }
  ::-webkit-scrollbar-track {
    background: #b22424;
    border-radius: 25px;
  }
  ::-webkit-scrollbar-thumb {
    background: #b22424;
    border-radius: 25px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #b22424;
    ;
  }
  .card-container {
    display: flex;
    overflow-x: auto;
    width: 100%;
    gap: 1%;
    padding: 0;
    margin-left: 2%;
    margin-right: 0;
    box-sizing: border-box;
    scroll-snap-type: x mandatory;
  }
    @media screen and (max-width: 650px) {
      .card-container {
        transform: scale(0.9);
        display:flex;
        flex-direction: row;
        align-items: flex-start;
        overflow-x: scroll;
        width:100%;
  
      }
    
  }  
  
  .card {
    background-color: #4f5051;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2%;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    min-height: 400px; /* oppure quello che ti serve */
    width: fit-content;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 0 0 auto;
    min-width: 250px;
    scroll-snap-align: start;
  }
  
  .card .image {
    height: 150px;
    width: 150px;
    padding: 4px;
    background: #FFF;
    border-radius: 50%;
    align-items: center;
  }
  .tag-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    margin: 1%;
    width:fit-content;
    height: fit-content;
    position:relative;
    padding: 1%;
  }
  @media screen and (min-width: 920px) {
    .container .card {
      display:flex;
      flex-direction: column;
      align-items: center;
      flex: 0 0 10%;
      width: 200px;
      margin-bottom: 20px;
    }
    
  }
  
  .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #6d0000;
  }
  .card h2 {
    margin-top: 25px;
    color: #333;
    font-size: 22px;
    font-weight: 600;
    padding: 1%;
    margin:1%;
  }
  .card .tag-container {
    position: relative;
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin-top: 1%;
  
  }
  .card h5 {
    
    color: #fff;
    font-weight: 800;
    background-color: #6d0000;
    padding:1%;
    margin: 1%;
    border-radius: 5px;
    width:fit-content;
    height: fit-content;
    text-align: center;
  }
  .card p {
    margin-top: 4px;
    font-size: 18px;
    font-weight: 400;
    color: #333;
    text-align: center;
    padding: 1%;
    margin:1%;
  }